
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

@font-face {
    font-family: '1942_report1942_report';
    src: url('fonts/1942-webfont.eot');
    src: url('fonts/1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/1942-webfont.woff') format('woff'),
         url('fonts/1942-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {height: 800px;
	font-family: arial
	}

h1
{	font-family: '1942_report1942_report', arial;
	background-color: black;
	margin-top: 2%;
	height: 10%;
	font-size: 2.5em;
	text-align: center;
	margin-right: 8%;
	width: 60%;
	border-radius: 2em;
	float: right;
	color: #99d6eb;


	
}

#img1
	{	padding: .5%;
		margin-left:2.5%;
		margin-top: 2.5%;
		height: 10%;
		width: 15%;
		border: 5px #99d6eb solid;
		border-radius: 3em;
		

	}

li, ul, a
	{

	list-style-type: none;
	text-decoration: none;
	}


 nav
	{
	min-width: 35%;
	border-radius: 1.5em;
	margin-right: 10%;
	display: inline-block;
	text-align: center;
	float: right;
	margin-top: -3.5%;
}

nav li, footer li
	{ 
	position: relative;
	display: inline-block;
	margin-left: 10px;
	
	}

nav a, footer a 
	{width: 115%;
	height: 30px;
	color: black;
	background-color: #99d6eb;
	display: block;
	border: 4px #99d6eb solid;
	border-radius: 30px;
	}

nav a:hover, footer a:hover
	{ 
	color: #fff;
	background-color: black;
	}

a:visited
	{
	color: black;
	background-color: #99d6eb;
	}	

h2
	{
	font-size: 1.1em;
	text-align: center;
	}


article
	{	
	height: 45%;
	line-height: 20px;
	min-width: 15%;
	max-width: 20%;
	overflow: scroll;
	background-color: #99d6eb;
	color: #fff;
	text-align: justify;
	float: left;
	padding: 2%;
	margin: 2%;
	margin-top: 5%;
	border-radius: 2em;
	}
section
	{
	height: 45%;
	line-height: 20px;
	min-width: 15%;
	max-width: 20%;
	overflow: scroll;
	background-color: #99d6eb;
	color: #fff;
	text-align: justify;
	padding: 2%;
	margin: 2%;
	margin-top: 5%;
	float: left;
	border-radius: 2em;
	}

aside
{
	height: 45%;
	line-height: 20px;
	min-width: 20%;
	max-width: 30%;
	overflow: scroll;
	background-color: #99d6eb;
	color: #fff;
	text-align: justify;
	padding: 2%;
	margin: 2%;
	
	float: left;
	border-radius: 2em;
	

	}


footer
	{
	min-width: 35%;
	border-radius: 1.5em;
	text-align: center;
	float: right;
	margin-right: 8%;
	display: inline-block;
	}


h2
{font-size: 1.5em}

