

body
{
	font-family: helvetica, arial, verdana,;
	background: url("../images/black_bg.jpg");
	
}

header
{
	background: url("../images/bricks.jpg");
	background-opacity: .5;
}


h1
{   
	font-family: 'piedra', cursive; helvetica, arial,;
	font-size: 2.5em;
	color: #fff;
	opacity: .9;
	margin-left: 5%
}
h2
{
	font-family: 'lobster', cursive; helvetica, arial,;
	color: #99ff66;
	opacity: .5;
	margin-left: 12%;
}

h3
{
	color: #ffaccd;
	
}


.icons a, i, .icons a:visited, .icons i:visited
{
	color: #99ff66;
	margin-left:2%;
	float: right;
	margin-right: 5%
}
.icons a:hover, .icons i:hover
{
	color:#fff;
}

article
{ 
	background: url("../images/bricks.jpg");
	width: 60%;
	padding: 4%;
	height: 350px;
	overflow: scroll;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2.5%;
	opacity: .9;
	color: #fff;
	float: left;
	text-align: justify;
	
}

aside
{
	font-family: piedra, cursive;
	width: 20%;
	float: right;
	margin-top: 5%;
	margin-right: 5%;
	height: 350px;
	text-align: center;
	overflow: scroll;
	background: url("../images/wood.jpg");
	

}
ul, li, a
{
	text-decoration: none;
	list-style-type: none;
}

ul#posts li
{
	margin-top: 10%;

}

 a, a:visited 
 {
	color: black;
}

a:hover.postitem
{
	color: #99ff66;	
}
#posthead
{
	font-size: 2em;
	color: black;
}

footer
{
	font-family: 'piedra', cursive;
	width:100%;
	height: 3em;
	margin-top: 5%;
	background: url("../images/wood.jpg");
	text-align: center;
	clear: both;
	float: right;
}

ul#footer
{
	text-align: center;
	margin-left: 20%;

}
ul#footer li
{	
	float: left;
	margin-right: 25%;


}
ul#footer a, ul#footer i
{
	color: black;
}
ul#footer a:hover, ul#footer i:hover
{
	color: #99ff66;
}
